@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutSettings;
}

<section class="py-[4rem] flex flex-row">
	<div class="container mx-42 px-4 relative w-[680px]">
		<div class="flex flex-col gap-2">
			<div>
				<p class="text-[#D9C3A9] font-bold">@content.AboutLabel</p>
			</div>

			<h2 class="text-[#4F5955] text-[40px] font-bold">@content.AboutTitle</h2>
			<h3 class="text-[#535656] text-[20px] font-light">@content.AboutSubTitle</h3>
			<p class="text-[#535656] text-[14px]">@content.AboutDescription</p>
			@if (content.AboutSignatureImage != null)
			{
				<img src="@content.AboutSignatureImage.Url()" class="w-3xs h-3xs object-cover" />
			}
		</div>
	</div>

	<div class="bg-[#FFFFFF] shadow-black shadow-sm w-2xl absolute right-65 top-110">
		<div class="container flex flex-col">
			<div class="bg-[#4F5955] flex items-center justify-center py-8 w-full">
				<h2 class="text-[30px] text-[#F2EDDC] text-center">
					Request a call back
				</h2>
			</div>
			<div class="container flex flex-col gap-5 flex-1 w-full h-full p-5">
				<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>
				<input class="border border-[#9C9EA6] h-14 px-3" type="text" placeholder="Name" />
				<input class="border border-[#9C9EA6] h-14 px-3" type="email" placeholder="Email adress" />
				<input class="border border-[#9C9EA6] h-14 px-3" type="text" placeholder="Phone" />
				<select class="border border-[#9C9EA6] h-11 px-3"></select>
				<button class="bg-[#F2EDDC] rounded-[4px] text-[25px] font-bold text-[#4F5955] cursor-pointer py-2">Submit</button>
			</div>
		</div>
	</div>
</section>