@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var serviceList = content.ServiceList;

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="py-[4rem] bg-[#EAEAEA]">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col gap-2 items-center">
            @if (settings?.ShowServiceLabel == true)
            {
                <h2 class="text-[.875rem] text-[#D9C3A9] font-bold uppercase">
                    @content.ServiceLabel
                </h2>
            }

            <div class="font-bold text-[40px] text-[#4F5955]">
                @Html.Raw(content.ServiceTitle)
            </div>
        </div>

        <div class="grid grid-cols-3 grid-rows-2 gap-4">
            @if (items != null && items.Any())
            {
                @foreach (var item in items)
                {
                    <div class="grid grid-cols-1">
                        <div class="bg-white border-[2px] border-[#EAEAEA] w-full overflow-hidden">
                            <a href="@item.Url()" class="block no-underline">
                                <h4 class="p-[1.5rem] font-semibold text-xl text-[#4F5955]">@item.Name</h4>
                                @if (@item.ServiceDetailThumbnail != null)
                                {

                                    <img src="@item.ServiceDetailThumbnail.Url()" alt="@content.ServiceLabel" class="block w-full h-[220px] object-cover" />

                                }
                            </a>
                            <div class="text-sm text-[#535656] p-[1.5rem] items-center justify-center">
                                @Html.Raw(item.ServiceDetailExcerpt)
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No services available</p>
            }
            
        </div>
        <div class="flex flex-1 gap-7 justify-center items-center">
            <p class="text-[#4B5264]">Prev</p>
            <p class="text-[#4B5264] border-solid p-2 border-[2px] border-[#ECECEC] bg-white rounded-full">1</p>
            <p class="text-[#4B5264]">2</p>
            <p class ="text-[#4B5264]">Next</p>
        </div>

    </div>
</section>

        @* <div>
            @if (serviceList != null)
            {
                <div class="grid grid-cols-3 grid-rows-2 gap-4">
                    @for (var i = 0; i < serviceList.Count && i < 6; i++)
                    {
                        var service = serviceList[i];
                        <div class="px-2">
                            <partial name="Partials/Blocklist/Components/Services" model="service" />
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No Service Avaliable</p>
            }
        </div> *@
